@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aubrey&display=swap');
@media only screen and (min-width: 480px) {
    body {

        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;



    }

    .container {

        display: flex;
        background-color: none;
        color: white;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;

    }

    a {
        color: white;
        font-size: 150%;
        text-decoration: none;
        text-align: left;
        font-family: 'Baloo 2', sans-serif;
        margin-right: 10px;



    }

    .divnav {
        display: flex;
        justify-content: flex-start;
        padding-top: 1cm;

        flex-direction: column;


    }

    .logo {

        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 35px;
        text-align: center;
        font-family: 'Aubrey', system-ui;
        padding-right: 5%;

    }

    .social {

        padding-top: 1cm;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .containerfooter {

        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: space-between;
        font-family: 'Baloo 2', sans-serif;
        text-align: center;
        padding-left: 2cm;
        padding-right: 2cm;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .containerhr {

        display: flex;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5cm;
        justify-content: center;

    }

    hr {
        flex-grow: 1;

    }

    .containerbtns {

        display: flex;
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5cm;
    }

    button {

        width: 121.43px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 105px;
        border: 1px solid #FFF;
        background-color: black;
        color: white;
        margin-right: 1%;
        font-family: 'Baloo 2', sans-serif;
        font-size: 20px;
        line-height: 0.5%;
    }

    .containerwork {
        display: flex;
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5cm;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: wrap;

    }

    .workblock {

        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: "Baloo 2";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 32%;
        margin-bottom: -140px;

    }

    .workblocktxt {

        margin-bottom: 3px;
    }


    .gallery1 {

        width: 100%;
        height: 65%;
        flex-shrink: 0;
    }


    .wip{

        color: #FFF;
        display: flex;
        flex-direction: column;
        font-family: 'Baloo 2', sans-serif;
        align-items: center;
    }

    .wipimg{

        width: 20%;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */

    body {

        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;



    }

    .container {

        display: flex;
        background-color: none;
        color: white;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;

    }

    a {
        color: white;
        font-size: 150%;
        text-decoration: none;
        text-align: left;
        font-family: 'Baloo 2', sans-serif;
        margin-right: 10px;



    }

    .divnav {
        display: flex;
        justify-content: flex-start;
        padding-top: 1cm;

        flex-direction: column;


    }

    .logo {

        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 35px;
        text-align: center;
        font-family: 'Aubrey', system-ui;
        padding-right: 5%;

    }

    .social {

        padding-top: 1cm;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .containerfooter {

        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: space-between;
        font-family: 'Baloo 2', sans-serif;
        text-align: center;
        padding-left: 2cm;
        padding-right: 2cm;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .containerhr {

        display: flex;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5cm;
        justify-content: center;

    }

    hr {
        flex-grow: 1;

    }

    .containerbtns {

        display: flex;
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5cm;
        justify-content: center;
    }

    button {

        width: 110px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 105px;
        border: 1px solid #FFF;
        background-color: black;
        color: white;
        margin-right: 2%;
        font-family: 'Baloo 2', sans-serif;
        font-size: 20px;
        line-height: 0.5%;
    }

    .containerwork {
        display: flex;
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.5cm;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: wrap;
        
        

    }





    .gallery1 {

        width: 100%;
        height: 65%;
        flex-shrink: 0;
        
    }


    .workblock {

        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: "Baloo 2";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: -10%;


    }

    .wip{

        color: #FFF;
        display: flex;
        flex-direction: column;
        font-family: 'Baloo 2', sans-serif;
        align-items: center;
    }

    .wipimg{

        width: 90%;
    }

    

}